# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  'atom-workspace': [
    {label: 'Open in GitHub app', command: 'command':'open-in-github-app:open'}
  ]

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'GitHub App'
      'submenu': [
        { 'label': 'Open in GitHub app', 'command': 'open-in-github-app:open' }
      ]
    ]
  }
]
